---
import Heading from "./ui/Heading.astro";
---

<section class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">We are <span class="patient">patient</span><span class="nz">.nz</span></h1>
        <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">.</p>
        <div class="mt-10 flex justify-center gap-x-6 flex-col">
          <a href="https://www.tewhatuora.govt.nz/keeping-well" target="_blank" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Keeping Well&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a href="https://www.health.govt.nz/your-health" target="_blank" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Your Health&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a href="https://www.mcanz.org.nz/reddit/guide" target="_blank" class="rounded-md bg-indigo-600 px-3.5 py-2.5 my-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Medical Cannabis&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a href="https://healthify.nz" target="_blank" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Healthify He Puna Waiora&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a target="_blank" href="https://advocacy.org.nz" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Patient Advocacy&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a target="_blank" href="https://healthed.govt.nz" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            HealthEd&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a target="_blank" href="https://nzformulary.org" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            New Zealand Formulary&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a target="_blank" href="https://dermnetnz.org" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            DermNet - Skin Care&nbsp;<span aria-hidden="true">→</span>
          </a>
          <a target="_blank" href="https://www.nlm.nih.gov" class="rounded-md bg-indigo-600 px-3.5 my-1 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Library of Medicine&nbsp;<span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>
</section>

<style>
h1 .patient {

}

h1 .patient + .nz {
    font-size: 0.5em;
}
</style>
